{% extends "::base.html.twig" %}

{% block jumbotron %}
    <h1>Messages</h1>
    
    {# Add a notice when message is removed#}
    {% for flash_message in app.session.flashBag.get('notice') %}
        <div class="flash-notice">
            {{ flash_message }}
        </div>

    {% endfor %}
    {% for flash_message in app.session.flashBag.get('notice1') %}
        <div class="flash-notice">
            {{ flash_message }}
        </div>

    {% endfor %}
{% endblock %}

{% block left %}
    <h3>User: {{user.username}}</h3>
{% endblock %}

{% block middle %}  

    <h2>Outbox :</h2>
    <table class="table table-hover">

    <th class='text-center'>Receiver</th>
    <th class='text-center'>Title</th>
    <th class='text-center'>Date</th>
    {%for message in sentMessages %}
        <tr>
            <td><a href="/user/{{message.receiver.id}}">{{message.receiver}}</a></td>
            <td> <a href="/message/{{message.id}}">{{message.title}}</a></td>
            <td>{{message.date|date("Y-m-d")}}</td>
        </tr>
    {% else %}
        <p> No messages found</p>
    {%endfor%}
    </table>
{% endblock %}

{% block middle1 %}                    
    <table class="table table-hover">
    <h2>Inbox : </h2>
    <th class='text-center'>Author</th>
    <th class='text-center'>Title</th>
    <th class='text-center'>Date</th>
    <th class='text-center'>Delete</th>
    {% for message in receivedMessages %}
        <tr>
            <td> <a href="/user/{{message.sender.id}}">{{message.sender}}</a></td>
            <td> <a href="/message/{{message.id}}">{{message.title}}</a></td>
            <td>{{message.date|date("Y-m-d")}}</td>
            <td><a href="/message/delete/{{message.id}}"><span class="glyphicon glyphicon-remove-sign remove"></span></a></td>
        </tr>
    {% else %}
        <p> No messages found</p>
    {%endfor%}
    </table>
{% endblock %}


