{% extends '::base.html.twig' %}

{% block jumbotron %}
    <h2>Message</h2>
{% endblock %}    

{% block middle %}   
    <h3>{{ message.title }}</h3>
    <p>{{ message.text }}</p>
    <p class="small">{{ message.date|date('Y-m-d H:i:s') }}</p>

    <a class="btn btn-success" href="{{ path('message') }}">Back to the list</a>
    {% if message.sender != loggedUser %}
        <a class="btn btn-success" href="/message/new/{{message.sender.id}}">Reply</a>
    {% endif %}    
{% endblock %}
