{% extends '::base.html.twig' %}

{% block top %}
    <h2 class="text-center">
        {% if message.sender != loggedUser %}
            Message from: {{message.sender.username|capitalize}}
        {% else %}
            Message to: {{message.receiver.username|capitalize}}
        {% endif %}    
    </h2>
    <a class="btn btn-custom" href="{{ path('message') }}">
        <span class="glyphicon glyphicon-arrow-left"></span>
        Back to the list
    </a>
{% endblock %}    

{% block middle %}  
    <h4>{{ message.title }}</h4>
    <p class="well">{{ message.text }}</p>
    <p>{{ message.date|date('Y-m-d H:i:s') }}</p>
 
    {% if message.sender != loggedUser %}
        <a class="btn btn-custom" href="/message/new/{{message.sender.id}}">Reply</a>
    {% endif %}    
{% endblock %}
