{% extends "::base.html.twig" %}

{% block title %}Let's do it{% endblock %}

{% block jumbotron %} 
    <h1>{{crew.name}}</h1>
    <p>{{crew.description}}</p>
    
    {# Add if user joined to crew or alredy is in.#}
    {% if app.session.flashBag.has('notice') %}
       <div class="alert alert-success">
            {% for msg in app.session.flashBag.get('notice') %}
                <br />
                <br />
                <br />
               {{ msg }}
            {% endfor %}
        </div>
    {% endif %}

    {% if app.session.flashBag.has('notice1') %}
        <div class="alert alert-success">
            <br />
            <br />
            <br />
            {% for msg in app.session.flashBag.get('notice1') %}
                {{ msg }}
            {% endfor %}
        </div>
    {% endif %}
{% endblock %}

{% block left %}   
    {%if crew.photo is not null%}
        <img src="{{crew.photo.path}}" width="150" height="150" alt="Image">
        <br><br>
       {% if user in crew.users %}
        <a class="btn btn-success" href="/photo/{{crew.photo.id}}/edit">Update photo</a>
       {% endif %}
    {% else %}
        {% if user in crew.users %}
        <a class="btn btn-success" href="/photo/crew/create/{{crew.id}}">Add photo</a>
        {% endif %}
    {% endif %}
{% endblock %}

{% block middle %} 
    <h2 class="text-center">Our events</h2>
    <div class="list-group">
        {%for event in events%}
            <a class="list-group-item" href="/event/{{event.id}}">
                <strong>{{event.name}}</strong>
                {{event.date | date('Y-m-d H:i')}}
            </a>
        {% else %}  
            <p>No events yet</p> 
        {%endfor%}
    </div>
{% endblock %}    
{% block middle1 %}     
    <h2 class="text-center">Our members</h2>
    <div class="list-group">
    {%for user in users%}
        <strong><a class="list-group-item" href="/user/{{user.id}}">{{user.username}}</a></strong>
    {% else %}  
        <p>No members yet</p> 
    {%endfor%}
    </div>
{% endblock %}       
{% block right %} 
    <div class="btn-group-vertical">
        {% if user not in crew.users %}
        <a class="btn btn-success" href="{{ path('app_crew_addusertocrew', { 'id': crew.id }) }}">JOIN!</a>
        {% endif %}
        {% if user in crew.users %}
            <a class="btn btn-success" href="/event/create/{{crew.id}}">Add event</a>
        {% endif %}
        <a class="btn btn-success" href="/crew">All crews</a>
        {#<a class="btn btn-success" href="/crew/{{crew.id}}/edit">Edit crew</a>#}
    </div>
{% endblock %}  