{% extends "::base.html.twig" %}

{% block title %}Let's do it{% endblock %}

{% block jumbotron %} 
    <h1>{{event.name}}</h1>
{% endblock %}

{% block left %}
    <h4>Event admin:{{event.eventAdmin}}</h4>
    <p>{{event.date | date('Y-m-d H:i')}} </p>
    {%if event.photo is not null%}
        <img src="{{event.photo.path}}" width="150" height="150" alt="Image">
    {% endif %}
{% endblock %}   

{% block middle %} 
    
    <p class="text-center">{{event.description}} </p>
    <h3>Users signed in</h3>
    <div class="list-group">
    {%for user in users%}
        <a class="list-group-item" href="/user/{{user.id}}">{{user.username}}</a>
    {%endfor%}
    </div>
{% endblock %}

{% block middle2 %} 
    <p>{{event.description}}</p>
    <p>{{comment_form}}</p>
    <ul>
        {% for comment in event.comments %}
            <li>{{event.comment}}</li>   
        {% else %}  
            <p>No comments</p>        
        {% endfor %}
    </ul>
{% endblock %}

{% block right %} 
    <div class="btn-group-vertical">
        <a class="btn btn-success" href="/event/{{event.id}}/edit">Edit event info</a>
    </div>
{% endblock %}  
