{% extends "::base.html.twig" %}

{% block title %}Let's do it{% endblock %}

{% block jumbotron %} 
    <h1>{{event.name}}</h1>
{% endblock %}

{% block left %}
    <h4>Event admin:{{event.eventAdmin}}</h4>
    <p>{{event.date | date('Y-m-d H:i')}} </p>
{% endblock %}   

{% block middle %} 
    <h3>Users signed in</h3>
    <div class="list-group">
    {%for user in users%}
        <a class="list-group-item" href="/user/{{user.id}}">{{user.username}}</a>
    {%endfor%}
    </div>
{% endblock %}

{% block middle2 %} 
    <p>{{event.description}}</p>
{% endblock %}

{% block right %} 
    <a class="btn btn-success" href="/logout">Logout</a>
    <a class="btn btn-success" href="/event/new">Create new event</a>
    <a class="btn btn-success" href="/event/{{event.id}}/edit">Edit event info</a>
{% endblock %}  
