{% extends "::base.html.twig" %}


{% block top %}   
    <div class="col-md-2">
    {%if user.photo is not null%}
        <img src="{{user.photo.path}}" alt="Photo" width="200" height="200" class="left-block"/>
    {% endif %}
    </div>
    <div class="col-md-8">
        <br><br><br><br><br><br>
        <div class="user-info">
            {{user.username|upper}}
            <p class="small">{{user.email}}</p>
            <div class="btn-group">
                {% if user != loggedUser %}
                    <a class="btn btn-custom" href="/message/new/{{user.id}}">Message</a>
                {% else %}
                    <a class="btn btn-custom" href="/profile/edit">Update profile</a>
                {% endif %}
            </div>
        </div>
        
    </div>
    
    
{% endblock %}


{% block middle %}                    
    <h3 class="text-center">Crews</h3>
    <div class="list-group">
    {%for crew in crews%}
        <a class="list-group-item" href="/crew/{{crew.id}}">{{crew.name}}</a>
    {%endfor%}
    </div>
{% endblock %}

{% block middle1 %} 
    <h3 class="text-center">Events</h3>
    <div class="list-group">
    {%for event in events%}
        <a class="list-group-item" href="/event/{{event.id}}">
            {{event.name}}
            {{event.date | date('Y-m-d H:i')}}
        </a>
    {%endfor%}
{% endblock %} 

