{% extends '::base.html.twig' %}

{% block title %}All groups{% endblock %}   

{% block top %}
    <h1 class="text-center">All groups</h1>
{% endblock %}    
{% block middle -%}
    <table class="table table-hover text-center">
        <thead>
            <tr>
                <th class="text-center">Name</th>
                <th class="text-center">Description</th>
                <th class="text-center">Join/Leave</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a class="link" href="{{ path('crew_show', { 'id': entity.id }) }}">{{ entity.name }}</a></td>
                <td>{{ entity.description }}</td>
                <td>
                    {% if user not in entity.users %}
                        <a href="{{ path('app_crew_addusertocrew', { 'id': entity.id }) }}" data-toggle="tooltip" title="Join"><span class="glyphicon glyphicon-ok accept"></span></a>
                    {% else %}
                        <a href="/crew/removeUser/{{entity.id}}" data-toggle="tooltip" title="Leave"><span class="glyphicon glyphicon-remove remove"></span></a>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        <script>
$(document).ready(function(){
    $('[data-toggle="tooltip"]').tooltip();
});
</script>
        </tbody>
    </table>
        <p class="text-center">
            <a class="btn btn-custom btn-block" href="{{ path('crew_new') }}">
                Add
            </a>
        </p>        
    {% endblock %}
