{% extends '::base.html.twig' %}

{% block jumbotron %}
    <h1>All crews</h1>
{% endblock %}    
{% block middle -%}
    <table class="records_list table table-hover">
        <thead>
            <tr>
                <th class="text-center">Name</th>
                <th class="text-center">Description</th>
                <th class="text-center">Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('crew_show', { 'id': entity.id }) }}">{{ entity.name }}</a></td>
                <td>{{ entity.description }}</td>
                <td>
                    <a href="{{ path('crew_show', { 'id': entity.id }) }}">Show</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
        <p>
            <a class="btn btn-success" href="{{ path('crew_new') }}">
                Add
            </a>
        </p>        
    {% endblock %}
