{% extends '::base.html.twig' %}

{% block jumbotron %}
    <h1>All groups</h1>
{% endblock %}    
{% block middle -%}
    <table class="records_list table table-hover">
        <thead>
            <tr>
                <th class="text-center">Name</th>
                <th class="text-center">Description</th>
                <th class="text-center">Join/Leave</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('crew_show', { 'id': entity.id }) }}">{{ entity.name }}</a></td>
                <td>{{ entity.description }}</td>
                <td>
                    {% if user not in entity.users %}
                        <a href="{{ path('app_crew_addusertocrew', { 'id': entity.id }) }}"><span class="glyphicon glyphicon-ok-sign accept"></span></a>
                    {% else %}
                        <a href="/crew/removeUser/{{entity.id}}"><span class="glyphicon glyphicon-remove-sign remove"></span></a>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
        <p>
            <a class="btn btn-success" href="{{ path('crew_new') }}">
                Add
            </a>
        </p>        
    {% endblock %}
