{% extends "::base.html.twig" %}

{% block title %}All Events{% endblock %}

{% block jumbotron %}
    <h1>Welcome to the AdminPanel</h1>

{% endblock %}

{% block left %}
    <h3>Hello Admin!</h3>
{% endblock %}
{% block middle %}
    <h1>New Events to confirm:</h1>
    <table class="table table-hover">
    <th class='text-center'>Name</th>
    <th class='text-center'>Description</th>
    <th class='text-center'>Accepted</th>

        {% for event in events %}
            <tr>
                <td><a class="list-group-item" href="/crew/{{event.id}}">{{event.name}}</a></td>
                <td>{{event.description}}</td>
                <td>{{event.accepted}}</td>
                <td><a class="list-group-item" href="/panelAdmin/event/remove/{{event.id}}">Remove!</a></td>
                <td><a class="list-group-item" href="/panelAdmin/event/getAccepted/{{event.id}}">Accept!</a></td>

            </tr>

            {% else  %}
            <h3>No new events ...sorry</h3>
        {% endfor %}

        </table>
{% endblock %}
{% block middle1 %}
        <h1>All New Crews to confirm:</h1>
        <table class="table table-hover">
        <th class='text-center'>Name</th>
        <th class='text-center'>Description</th>
        <th class='text-center'>Accepted</th>


        {% for crew in crews %}
            <tr>
                <td><a class="list-group-item" href="/crew/{{crew.id}}">{{crew.name}}</a></td>
                <td>{{crew.description}}</td>
                <td>{{crew.accepted}}</td>
                <td><a class="list-group-item" href="/panelAdmin/crew/remove/{{crew.id}}">Remove!</a></td>
                <td><a class="list-group-item" href="/panelAdmin/crew/getAccepted/{{crew.id}}">Accept!</a></td>
            </tr>
        {% else  %}
            <h3>No new crews ...sorry</h3>
        {% endfor %}
{% endblock %}
{% block right %}
        <div class="btn-group-vertical">
        <a class="btn btn-success" href="/panelAdmin/index">Homepage</a>
        <a class="btn btn-success" href="/panelAdmin/crews">All crews</a>
        <a class="btn btn-success" href="/panelAdmin/events">All events</a>
        <a class="btn btn-success" href="/panelAdmin/users">All users</a>
    </div>
{% endblock %}