{% extends "::base.html.twig" %}

{% block title %}Admin panel{% endblock %}

{% block top %}
    <div class="col-md-2">
        <img src="{{asset('img/admin.png')}}" alt="Photo" width="200" height="200" class="left-block"/>
    </div>
    <div class="col-md-8">
        <br><br><br><br><br><br>
        <div class="user-info">
            <p>Panel administracyjny</p>            
            <div class="btn-group">     
                <a class="btn btn-custom" href="/index">Strona użytkownika</a>
                <a class="btn btn-custom" href="/admin/index">Index</a>
                <a class="btn btn-custom" href="/admin/crews">Zaakceptowane grupy</a>
                <a class="btn btn-custom" href="/admin/events">Zaakceptowane eventy</a>
                <a class="btn btn-custom" href="/admin/users">Wszyscy użytkownicy</a>
            </div>
        </div>     
    </div>
    
{% endblock %}


{% block middle %}
    <h3>Eventy do zaakceptowania</h3>
    <table class="table table-hover">
    <th class='text-center'>Nazwa</th>
    <th class='text-center'>Opis</th>
    <th class='text-center'>Zaakceptowany</th>
    <th class='text-center'>Akceptuj</th>
    <th class="text-center">Usuń</th>
   
        {% for event in events %}
            <tr>
                <td>{{event.name}}</td>
                <td>{{event.description}}</td>
                <td>{{event.accepted}}</td>
                <td><a href="/admin/event/getAccepted/{{event.id}}"><span class="glyphicon glyphicon-ok accept"></span></a></td>
                <td><a href="/admin/event/remove/{{event.id}}"><span class="glyphicon glyphicon-remove remove"></span></a></td>
            </tr>

            {% else  %}
            <p>Brak eventów do zaakceptowania</p>
        {% endfor %}

        </table>
{% endblock %}
{% block middle1 %}
        <h3>Grupy do zaakceptowania</h3>
        <table class="table table-hover">
        <th class='text-center'>Nazwa</th>
        <th class='text-center'>Opis</th>
        <th class='text-center'>Zaakceptowana</th>
        <th class='text-center'>Akceptuj</th>
        <th class="text-center">Usuń</th>


        {% for crew in crews %}
            <tr>
                <td><a class="link" href="/crew/{{crew.id}}">{{crew.name}}</a></td>
                <td>{{crew.description}}</td>
                <td>{{crew.accepted}}</td>
                <td><a href="/admin/crew/getAccepted/{{crew.id}}"><span class="glyphicon glyphicon-ok accept"></span></a></td>
                <td><a href="/admin/crew/remove/{{crew.id}}"><span class="glyphicon glyphicon-remove remove"></span></a></td> 
            </tr>
        {% else  %}
            <p>Brak grup do zaakceptowania</p>
        {% endfor %}
{% endblock %}
