{% extends "::base.html.twig" %}

{% block title %}All events{% endblock %}

{% block jumbotron %}
    <h1>Welcome to the admin panel</h1>

{% endblock %}


{% block middle %}
    <h1>All events:</h1>
    <table class="table table-hover">
        <th class='text-center'>Name</th>
        <th class='text-center'>Description</th>
        <th class='text-center'>Accepted</th>


            {% for event in events %}
                <tr>
                    <td><a href="/crew/{{event.id}}">{{event.name}}</a></td>
                    <td>{{event.description}}</td>
                    <td>{{event.accepted}}</td>
                    <td><a class="btn btn-danger" href="/admin/event/remove/{{event.id}}">Remove</a></td>
                </tr>
            {% else %}
                <p>No events</p>
            {% endfor %}

    </table>
{% endblock %}
{% block right %}
    <div class="btn-group-vertical">
        <a class="btn btn-success" href="/index">User page</a>
        <a class="btn btn-success" href="/admin/index">Main</a>
        <a class="btn btn-success" href="/admin/crews">All active groups</a>
        <a class="btn btn-success" href="/admin/events">All active events</a>
        <a class="btn btn-success" href="/admin/users">All users</a>
    </div>
{% endblock %}