{% extends "::base.html.twig" %}

{% block title %}All groups{% endblock %}

{% block jumbotron %}
    <h1>Welcome to admin panel</h1>

{% endblock %}

{% block left %}
    <h3>Hello Admin!</h3>
{% endblock %}
{% block middle %}
    <h1>All groups:</h1>
    <table class="table table-hover">
        <th class='text-center'>Name</th>
        <th class='text-center'>Description</th>
        <th class='text-center'>Accepted</th>


        {% for crew in crews %}
            <tr>
                <td><a href="/crew/{{crew.id}}">{{crew.name}}</a></td>
                <td>{{crew.description}}</td>
                <td>{{crew.accepted}}</td>
                <td><a class="btn btn-danger" href="/admin/crew/remove/{{crew.id}}">Remove</a></td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
{% block right %}
    <div class="btn-group-vertical">
        <a class="btn btn-success" href="/index">User page</a>
        <a class="btn btn-success" href="/admin/index">Main</a>
        <a class="btn btn-success" href="/admin/crews">All active crews</a>
        <a class="btn btn-success" href="/admin/events">All active events</a>
        <a class="btn btn-success" href="/admin/users">All users</a>
    </div>
{% endblock %}
