{% extends "::base.html.twig" %}


{% block top %}
    <div class="col-md-2">
        <img src="{{asset('img/admin.png')}}" alt="Photo" width="200" height="200" class="left-block"/>
    </div>
    <div class="col-md-8">
        <br><br><br><br><br><br>
        <div class="user-info">
            <p>Panel administracyjny</p>           
            <div class="btn-group">     
                <a class="btn btn-custom" href="/index">Strona użytkownika</a>
                <a class="btn btn-custom" href="/admin/index">Index</a>
                <a class="btn btn-custom" href="/admin/crews">Zaakceptowane grupy</a>
                <a class="btn btn-custom" href="/admin/events">Zaakceptowane eventy</a>
                <a class="btn btn-custom" href="/admin/users">Wszyscy użytkownicy</a>
            </div>
        </div>     
    </div>
    
{% endblock %}


{% block middle %}
    <h1>Wszyscy użytkownicy:</h1>
    <table class="table table-hover">
        <th class='text-center'>Nazwa użytkownika</th>
        <th class='text-center'>E-mail</th>
        <th class="text-center">Usuń</th>


            {% for user in users %}
                {% if user.username != "Admin"%}
                <tr>
                    <td><a class="link" href="/user/{{user.id}}">{{user.username}}</a></td>
                    <td>{{user.email}}</td>
                    <td><a href="/admin/remove/{{user.id}}"><span class="glyphicon glyphicon-remove remove"></span></a></td>
                </tr>
                {% endif %}
            {% endfor %}
    </table>
{% endblock %}

